.resigned_Container {
  height: 100vh;
  background: #f6f6ff;
  position: relative;
  overflow-x: hidden;
}

/* resigned EMPLOYEE CONTAINER */
.resigned_Container .resigned_Employee_Container {
  height: 90%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  overflow-y: scroll;
}

/* resigned EMPLOYEE */
.resigned_Container .resigned_Employee_Container .resigned_Employee {
  box-shadow: 0 0 10px #afafaf;
  height: 30vh;
  margin: 10px;
  width: 20vw;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* resigned EMPLOYEE IMAGE */
.resigned_Container .resigned_Employee_Container .resigned_Employee .image {
  border: rgb(240, 111, 111) solid;
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50%;
}

/* resigned EMPLOYEE FIRSTNAME */
.resigned_Container .resigned_Employee_Container .resigned_Employee .firstname {
  text-align: center;
  font-weight: bold;
  color: #5f5f5f;
}

/* resigned EMPLOYEE LASTNAME */
.resigned_Container .resigned_Employee_Container .resigned_Employee .lastname {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #5f5f5f;
}

/* resigned EMPLOYEE DETAILS CONTAINER */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee
  .details_Container {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 0px;
  height: 0px;
  overflow-y: hidden;
  transition-property: width, pointer-events, height, top;
}

/* resigned EMPLOYEE DETAILS CONTAINER ANIMATION */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container {
  border: #5f5f5f solid 1px;
  width: 80vw;
  pointer-events: all;
  height: 80vh;
  top: 55%;
  transition-duration: 0.3s;
  transition-delay: 1s, 0s, 1.5s, 1.5s;
  overflow-y: scroll;
  background: white;
}

/* resigned EMPLOYEE PERSONAL DETAILS HEADER */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container
  .personal_Details
  h4 {
  background: rgb(153, 153, 199);
  text-align: center;
  color: #ffffff;
}

/* resigned EMPLOYEE PERSONAL DETAILS GROUP DETAILS */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container
  .personal_Details
  .group_Details {
  display: flex;
}

/* resigned EMPLOYEE PERSONAL DETAILS GROUP DETAILS */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container
  .personal_Details
  .group_Details
  .resignedList_details {
  flex: 1;
  padding: 5px 10px;
  text-align: center;
}

/* resigned EMPLOYEE PERSONAL DETAILS GROUP DETAILS */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container
  .personal_Details
  .group_Details
  .resignedList_details
  h5 {
  background: #5f5f5f;
  color: #ffffff;
  padding: 5px;
}

/* resigned EMPLOYEE REASON HEADER */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container
  .resigneded_Details
  h4 {
  background: rgb(153, 153, 199);
  text-align: center;
  color: #ffffff;
}

/* resigned EMPLOYEE REASON CONTAINER */
.resigned_Container
  .resigned_Employee_Container
  .resigned_Employee:hover
  .details_Container
  .resigneded_Details
  .reason_Container {
  padding: 10px;
  color: #5f5f5f;
}
