.newAdmin_Container {
  width: 100%;
  height: 100vh;
  background: #f6f6ff;
  position: relative;
}

/* NEW ADMIN LIST */
.newAdmin_Container .newAdmin_List {
  padding: 20px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  position: relative;
}

/* NEW ADMIN LIST EMPTY IMAGE CONTAINER */
.newAdmin_Container .newAdmin_List .empty_Image_Container {
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* NEW ADMIN LIST EMPTY IMAGE CONTAINER H4 */
.newAdmin_Container .newAdmin_List .empty_Image_Container h4 {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* NEW ADMIN LIST EMPTY IMAGE CONTAINER IMAGE */
.newAdmin_Container .newAdmin_List .empty_Image_Container img {
  height: 100%;
}

/* NEW ADMIN CARD */
.newAdmin_Container .newAdmin_List .newAdmin {
  background: #ffffff;
  box-shadow: 0 0 10px #c9c9c9;
  width: 50vw;
  height: 10vh;
  position: relative;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* NEW ADMIN USERNAME */
.newAdmin_Container .newAdmin_List .newAdmin .newAdmin_Username {
  font-size: 17px;
  color: #5f5f5f;
  width: 100%;
}

/* NEW ADMIN h4 */
.newAdmin_Container .newAdmin_List .newAdmin h4 {
  color: rgb(94, 94, 207);
  width: 100%;
}

/* NEW ADMIN ACTIONS CONTAINER */
.newAdmin_Container .newAdmin_List .newAdmin .newAdmin_Actions_Container {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NEW ADMIN ACTIONS BUTTON */
.newAdmin_Container
  .newAdmin_List
  .newAdmin
  .newAdmin_Actions_Container
  button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

/* NEW ADMIN ACTIONS BUTTON */
.newAdmin_Container
  .newAdmin_List
  .newAdmin
  .newAdmin_Actions_Container
  button
  i {
  pointer-events: none;
}

/* NEW ADMIN ACTIONS ACCEPT */
.newAdmin_Container
  .newAdmin_List
  .newAdmin
  .newAdmin_Actions_Container
  .accept {
  border: none;
  background: rgb(170, 255, 170);
  color: green;
  letter-spacing: 1px;
}

/* NEW ADMIN ACTIONS REJECT */
.newAdmin_Container
  .newAdmin_List
  .newAdmin
  .newAdmin_Actions_Container
  .delete {
  border: none;
  background: rgb(255, 170, 170);
  color: red;
  letter-spacing: 1px;
}
