.audittrails_Container {
  background: #f6f6ff;
  padding: 10px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

/* TABLE */
.audittrails_Container table {
  width: 100%;
}

/* TABLE HEADER p */
.audittrails_Container table th p {
  background: rgb(153, 153, 199);
  color: #ffffff;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 500;
  width: 95%;
  margin: auto;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TABLE HEADER p span */
.audittrails_Container table th p span {
  margin: 0 5px;
}

/* TABLE HEADER p img */
.audittrails_Container table th p img {
  height: 18px;
  width: 18px;
  margin: 0 5px;
}

/* TABLE ROW p */
.audittrails_Container table tbody tr p {
  margin: 5px auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 5px #c9c9c9;
  width: 95%;
}

/* TABLE ROW p strong */
.audittrails_Container table tbody tr p strong {
  color: #6e7fe0;
  margin: 0 5px;
}
