.admin_Navbar {
  width: 18%;
  background: #1c212d;
}

.admin_Navbar .admin_Navbar_Header {
  width: 90%;
  margin: auto;
  border: 2px transparent solid;
  border-bottom-color: #afafaf;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bolder;
  color: #9ebdfa;
}

/* -------------------- LINKS --------------------------- */

.admin_Navbar .admin_Navbar_Links ul li {
  margin: 10px 0;
}

.admin_Navbar .admin_Navbar_Links ul li .link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  font-weight: bolder;
  color: #afafaf;
}

.admin_Navbar .admin_Navbar_Links ul li .link:hover {
  display: block;
  text-decoration: none;
  background: #dfe09e;
  text-align: center;
  padding: 10px 0;
  font-weight: bolder;
  color: #1c212d;
}

/* ACTIVE LINK */
.admin_Navbar .admin_Navbar_Links ul li .active_Link {
  background: #dfe09e;
  color: #1c212d;
}
