.admin_Navbar {
  width: 18%;
  background: #1c212d;
  position: relative;
}

/* ADMIN PROFILE CONTAINER */
.admin_Navbar .admin_Profile_Container {
  width: 90%;
  margin: auto;
  padding: 20px 0 10px 0;
}

/* ADMIN PROFILE LINK */
.admin_Navbar .admin_Profile_Container .adminProfile {
  border: white solid;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  text-decoration: none;
  position: relative;
}

/* ------------------- SIGNOUT ------------------- */
.admin_Navbar .admin_Signout {
  height: 30px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.admin_Navbar .admin_Signout button {
  height: 100%;
  width: 70%;
  border: none;
  border-radius: 0px;
  background: #262d3d;
  color: #afafaf;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.admin_Navbar .admin_Navbar_Header {
  width: 90%;
  margin: auto;
  border: 2px transparent solid;
  border-bottom-color: #afafaf;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  font-weight: bolder;
  color: #9ebdfa;
}

/* -------------------- LINKS --------------------------- */

.admin_Navbar .admin_Navbar_Links ul li {
  margin: 10px 0;
}

.admin_Navbar .admin_Navbar_Links ul li .link {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  font-weight: bolder;
  color: #afafaf;
}

.admin_Navbar .admin_Navbar_Links ul li .link:hover {
  display: block;
  text-decoration: none;
  background: #dfe09e;
  text-align: center;
  padding: 10px 0;
  font-weight: bolder;
  color: #1c212d;
}

/* ACTIVE LINK */
.admin_Navbar .admin_Navbar_Links ul li .active_Link {
  background: #dfe09e;
  color: #1c212d;
}
