@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");

.login_Container {
  height: 100vh;
  margin: auto;
  display: flex;
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* ------------------------ CLOSE LOGIN ----------------------- */
.login_Container .close_Login {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  padding: 10px;
  color: #5f5f5f;
  cursor: pointer;
}

/* --------------------------------------------- LOGIN FORM ------------------------------------------------------ */

.login_Container .login_Form_Container {
  width: 35%;
  position: relative;
  margin: auto;
  height: 100%;
}

.login_Container .login_Form_Container .error_Message_Container {
  text-align: center;
  padding: 10px 5px;
  background: rgba(255, 122, 122, 50%);
  border-radius: 3px;
  color: red;
}

.login_Container .login_Form_Container .login_Form_Compname {
  text-align: center;
  padding: 20px;
  font-family: "PT Serif", serif;
  width: 85%;
  margin: 100px auto 0 auto;
}

.login_Container .login_Form_Container .login_Form_Compname .first {
  font-size: 30px;
  font-weight: bolder;
}

.login_Container .login_Form_Container .login_Form {
  width: 65%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.login_Container .login_Form_Container .login_Form .login_Form_Text {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #5f5f5f;
}

/* ------------- INPUT DEFAULT ------------- */

.login_Container .login_Form_Container .login_Form .login_Form_Input_Group {
  margin-top: 20px;
  position: relative;
}

.login_Container
  .login_Form_Container
  .login_Form
  .login_Form_Input_Group
  .label {
  position: absolute;
  top: 50%;
  margin-left: 20px;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: 0.3s;
  cursor: text;
}

.login_Container
  .login_Form_Container
  .login_Form
  .login_Form_Input_Group
  input {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #afafaf;
  outline: none;
  font-size: 20px;
  color: #5f5f5f;
}

/* ------------- INPUT ON FOCUS ------------- */

.login_Container
  .login_Form_Container
  .login_Form
  .login_Form_Input_Group
  .login_Form_Input_Group_OnFocus {
  position: absolute;
  top: -5%;
  margin-left: 15px;
  transform: translateY(-50%);
  opacity: 1;
  color: #afafaf;
  font-size: 15px;
  padding: 0 5px;
  background: #ffffff;
  transition: 0.3s;
}

/* ------------- LOGIN FORM BTN ------------- */

.login_Container .login_Form_Container .login_Form .login_Form_Btn {
  padding: 20px 0 10px 0;
  text-align: center;
}

.login_Container .login_Form_Container .login_Form .login_Form_Btn button {
  border: none;
  background: #035b96;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
}

/* ------------- DISABLE ON LOGGEDIN ------------- */

.login_Container .login_Form_Container .login_Form .disable_OnLoggedIn {
  padding: 20px 0 10px 0;
  text-align: center;
  opacity: 0.5;
  pointer-events: none;
}

.login_Container .login_Form_Container .login_Form .disable_OnLoggedIn button {
  border: none;
  background: #035b96;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
}

.login_Container .login_Form_Container .login_Form .signup_Form_Btn {
  font-size: 13px;
}
