.syncaccount_Container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 80%);
  z-index: 10;
}

/* CLOSE MODAL */
.syncaccount_Container .closeModal {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
  background: none;
  border: none;
  color: #ffffff;
  padding: 10px;
  outline: none;
  font-size: 20px;
}

/* ACCOUNT LIST */
.syncaccount_Container .account_List {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 50%;
  border-radius: 10px;
  background: #ffffff;
  padding: 10px;
  overflow-y: scroll;
}

/* ACCOUNT LIST HEADER */
.syncaccount_Container .account_List h2 {
  color: #9ebdfa;
  text-align: center;
}

/* ACCOUNT LIST ADMIN */
.syncaccount_Container .account_List .admin {
  box-shadow: 0 0 5px #afafaf;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ACCOUNT LIST ADMIN img */
.syncaccount_Container .account_List .admin .adminImage {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative;
}

/* ACCOUNT LIST ADMIN h3 */
.syncaccount_Container .account_List .admin p {
  flex: 1;
  text-align: center;
}

/* ACCOUNT LIST ADMIN button */
.syncaccount_Container .account_List .admin button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  background: none;
  cursor: pointer;
  color: #7fa5f1;
}

/* ACCOUNT LIST ADMIN button icon */
.syncaccount_Container .account_List .admin button i {
  pointer-events: none;
}

/* ACCOUNT LIST ADMIN button */
.syncaccount_Container .account_List .admin button:hover {
  background: rgba(158, 189, 250, 50%);
  color: #ffffff;
}
