.department_Container {
  width: 100%;
  height: 100vh;
  padding: 50px 20px;
  background: #f6f6ff;
  overflow-x: hidden;
  position: relative;
}

/* department header */
.department_Container .department_Header {
  color: rgb(153, 153, 199);
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 10px #c9c9c9;
  cursor: pointer;
}

/* department modal */
.department_Container .department_Modal_Container {
  background: rgba(0, 0, 0, 85%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 84.8%;
  z-index: 10;
}

/* department modal header */
.department_Container .department_Modal_Container .department_Header_Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: relative;
}

/* department modal header close department */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .close_Department {
  color: #ffffff;
  padding: 5px 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* department modal header search icon container */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .search {
  background: #c9c9c9;
  height: 40px;
  width: 60px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  color: #5f5f5f;
  overflow: hidden;
  transition: 0.3s;
}

/* department modal header search icon */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .search
  .search_Icon_Container {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c9c9c9;
  color: #5f5f5f;
}

/* department modal header search input container */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .search
  .search_Input_Container {
  height: 100%;
  display: none;
}

/* --------------- toggle search ---------------- */
/* department modal header search icon container */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .toggleSearch {
  background: #c9c9c9;
  height: 40px;
  width: 300px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
  color: #5f5f5f;
  overflow: hidden;
  transition: 0.3s;
}

/* department modal header search icon */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .toggleSearch
  .search_Icon_Container {
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(153, 153, 199);
  color: #ffffff;
}

/* department modal header search input container */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .toggleSearch
  .search_Input_Container {
  height: 100%;
  width: 100%;
}

/* department modal header search input */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .toggleSearch
  .search_Input_Container
  input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 15px;
  font-size: 15px;
}

/* department modal header refresh */
.department_Container
  .department_Modal_Container
  .department_Header_Modal
  .refresh {
  background: #c9c9c9;
  height: 40px;
  width: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #5f5f5f;
}

/* ------------------- department employee list container --------------------- */
.department_Container .department_Modal_Container .employee_List_Container {
  height: 87vh;
  overflow-y: scroll;
}

/* employee list */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List {
  width: 70%;
  margin: auto;
}

/* employee list other details */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .other_Details {
  display: flex;
  justify-content: center;
  height: 12vh;
  background: #e9e9e9;
  border-radius: 5px;
  width: 45%;
}

/* employee list other details id */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .other_Details
  .id {
  border: transparent solid;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* employee list other details position */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .other_Details
  .position {
  border: transparent solid;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* employee list empty department */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .empty_Department {
  height: 70vh;
  width: 30vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* employee list empty department h4 */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .empty_Department
  h4 {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

/* employee list empty department image */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .empty_Department
  img {
  height: 100%;
  width: 100%;
}

/* employees */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .employee {
  margin: 10px 0;
  height: 15vh;
  padding: 0 10px;
  background: #ffffff;
  position: relative;
  color: black;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* employees image group */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .employee
  .image_Group {
  display: flex;
  align-items: center;
}

/* employees image */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .employee
  .image {
  background: rgb(153, 153, 199);
  height: 70px;
  width: 70px;
  margin: 20px auto;
  border-radius: 50%;
  position: relative;
}

/* employees name */
.department_Container
  .department_Modal_Container
  .employee_List_Container
  .employee_List
  .employee
  .name {
  text-align: center;
  color: #5f5f5f;
  font-size: 20px;
  width: 20vw;
  padding: 0 10px;
}

/* department list */
.department_Container .department_List {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto auto;
}

/* department */
.department_Container .department_List .department {
  margin: 10px 0;
  width: 15vw;
  position: relative;
  height: 20vh;
  background: #ffffff;
  box-shadow: 0 0 10px #c9c9c9;
  cursor: pointer;
}

/* department */
.department_Container .department_List .department:hover {
  background: #f1f1f1;
}

/* department span */
.department_Container .department_List .department span {
  display: none;
}

/* department interface */
.department_Container
  .department_List
  .department
  .department_Interface_Container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* department interface logo */
.department_Container
  .department_List
  .department
  .department_Interface_Container
  .department_Logo {
  text-align: center;
  padding: 10px 0;
  height: 60px;
  width: 60px;
  margin: 10px auto 5px auto;
  border-radius: 50%;
  position: relative;
}

/* department interface logo image */
.department_Container
  .department_List
  .department
  .department_Interface_Container
  .department_Logo
  img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

/* department interface title */
.department_Container
  .department_List
  .department
  .department_Interface_Container
  .department_Title {
  text-align: center;
  height: 50px;
}
