.applicants_Container {
  width: 100%;
  background: #f3f3f3;
}

.applicants_Container .applicants_Header {
  padding: 30px 50px 0 50px;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #1b3063;
}

/* ------------------- APPLICANTS LIST ----------------------- */
.applicants_Container .applicants_List_Container {
  height: 87.6vh;
  border: transparent solid;
}

/* HEADER */
.applicants_Container .applicants_List_Container .applicants_List_Header {
  padding: 20px 50px;
  color: #1b3063;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.applicants_Container .applicants_List_Container .applicants_List {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  height: 90%;
}

/* APPLICATIONS LIST HEADER */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications_Header {
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  box-shadow: 0 5px 10px #afafaf;
  color: #ffffff;
}

/* --------------------- PROCESSING -------------------- */
.applicants_Container .applicants_List_Container .applicants_List .processing {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

/* APPLICATIONS */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications {
  width: 32%;
}

/* APPLICATIONS HEADER */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications
  .applications_Header {
  background: #94ba77;
}

/* APPLICATIONS APPLICANTS LIST */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications
  .applicants_List {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 0 0 2px;
}

/* APPLICATIONS APPLICANTS */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications
  .applicant {
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 0px;
  margin: 10px 0px;
  text-align: center;
  box-shadow: 0 5px 5px #d4d4d4;
}

/* APPLICATIONS APPLICANTS NAME */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications
  .applicant
  .applicant_Name {
  border: 1px solid transparent;
  border-bottom-color: #afafaf;
  padding: 5px;
  width: 90%;
  margin: 5px auto;
  word-wrap: break-word;
  font-size: 13px;
  font-weight: bold;
  color: #5f5f5f;
}

/* APPLICATIONS APPLICANTS VIEW DETAILS */

.applicants_Container
  .applicants_List_Container
  .applicants_List
  .applications
  .applicant
  .applicant_View_Details
  button {
  border: none;
  padding: 10px 15px;
  background: #5f5f5f;
  color: #ffffff;
  border-radius: 3px;
  font-weight: bold;
}

/* SCREENING */
.applicants_Container .applicants_List_Container .applicants_List .screening {
  width: 32%;
  overflow-y: scroll;
}

/* SCREENING HEADER */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .screening
  .applications_Header {
  background: #235b58;
}

/* INTERVIEW */
.applicants_Container .applicants_List_Container .applicants_List .interview {
  width: 32%;
  overflow-y: scroll;
}

/* INTERVIEW HEADER */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .interview
  .applications_Header {
  background: #ff7800;
}

/* --------------------------- RESULTS -------------------------- */
.applicants_Container .applicants_List_Container .applicants_List .result {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

/* REJECTED */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .result
  .rejected {
  width: 48%;
  overflow-y: scroll;
}

/* REJECTED HEADER */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .result
  .rejected
  .applications_Header {
  background: #af3030;
}

/* HIRED */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .result
  .hired {
  width: 48%;
  overflow-y: scroll;
}

/* HIRED HEADER */
.applicants_Container
  .applicants_List_Container
  .applicants_List
  .result
  .hired
  .applications_Header {
  background: #e4be14;
}
