.reject_Container {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 80%);
}

.reject_Container .reject {
  border-radius: 3px;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 10px;
  background: #ffffff;
  color: #353535;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.reject_Container .reject .confirm_Rejection {
  margin-top: 15px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.reject_Container .reject .confirm_Rejection button {
  height: 100%;
  border: none;
  width: 40%;
  cursor: pointer;
  position: relative;
}

.reject_Container .reject .confirm_Rejection .reject_Btn {
  border: none;
  border-radius: 3px;
  background: rgb(255, 170, 170);
  color: red;
  font-size: 15px;
  letter-spacing: 1px;
}

.reject_Container .reject .confirm_Rejection .back_Btn {
  border-radius: 3px;
  background: none;
  background: rgb(170, 255, 170);
  color: green;
  font-size: 15px;
  letter-spacing: 1px;
}

/* DISABLE CONFIRM REJECTION */

.reject_Container .reject .disable_Confirm_Rejection {
  margin-top: 15px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  pointer-events: none;
}

.reject_Container .reject .disable_Confirm_Rejection button {
  height: 100%;
  border: none;
  width: 40%;
  cursor: pointer;
  position: relative;
}

.reject_Container .reject .disable_Confirm_Rejection .reject_Btn {
  border: none;
  border-radius: 3px;
  background: rgb(255, 170, 170);
  color: red;
  font-size: 15px;
  letter-spacing: 1px;
}

.reject_Container .reject .disable_Confirm_Rejection .back_Btn {
  border-radius: 3px;
  background: none;
  background: rgb(170, 255, 170);
  color: green;
  font-size: 15px;
  letter-spacing: 1px;
}
