@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");

.signup_Container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.signup_Container .close_Signin {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  padding: 10px;
  color: #5f5f5f;
  cursor: pointer;
}

/* --------------------------------------------- SIGNUP FORM ------------------------------------------------------ */

.signup_Container .signup_Form_Container {
  width: 35%;
  height: 100%;
  margin: auto;
  position: relative;
}

.signup_Container .signup_Form_Container .successMessage {
  width: 100%;
  margin: 50px auto;
  padding: 10px 0;
  text-align: center;
  font-size: 15px;
  background: rgb(155, 255, 155);
  color: green;
}

.signup_Container .signup_Form_Container .signInErrorMessage {
  text-align: center;
  padding: 10px 0;
  background: rgba(255, 122, 122, 50%);
  border-radius: 3px;
  color: red;
}

.signup_Container .signup_Form_Container .signup_Form_Compname {
  text-align: center;
  padding: 20px;
  font-family: "PT Serif", serif;
  width: 85%;
  margin: 130px auto 0 auto;
}

.signup_Container .signup_Form_Container .signup_Form_Compname .first {
  font-size: 30px;
  font-weight: bolder;
}

.signup_Container .signup_Form_Container .signup_Form {
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.signup_Container .signup_Form_Container .signup_Form .signup_Form_Text {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #5f5f5f;
}

/* ------------- INPUT DEFAULT ------------- */

.signup_Container .signup_Form_Container .signup_Form .signup_Form_Input_Group {
  margin-top: 20px;
  position: relative;
}

.signup_Container
  .signup_Form_Container
  .signup_Form
  .signup_Form_Input_Group
  .label {
  position: absolute;
  top: 50%;
  margin-left: 20px;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: 0.3s;
  cursor: text;
}

.signup_Container
  .signup_Form_Container
  .signup_Form
  .signup_Form_Input_Group
  input {
  width: 100%;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #afafaf;
  outline: none;
  font-size: 20px;
  color: #5f5f5f;
}

/* ------------- INPUT ON FOCUS ------------- */

.signup_Container
  .signup_Form_Container
  .signup_Form
  .signup_Form_Input_Group
  .signup_Form_Input_Group_OnFocus {
  position: absolute;
  top: -5%;
  margin-left: 15px;
  transform: translateY(-50%);
  opacity: 1;
  color: #afafaf;
  font-size: 15px;
  padding: 0 5px;
  background: #ffffff;
  transition: 0.3s;
}

/* ------------- SIGNIN FORM BTN ------------- */

.signup_Container .signup_Form_Container .signup_Form .signup_Form_Btn {
  padding: 20px 0 10px 0;
  text-align: center;
}

.signup_Container .signup_Form_Container .signup_Form .signup_Form_Btn button {
  position: relative;
  border: none;
  background: #035b96;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

/* -------------------------------- DISABLE ON SIGNEDIN ---------------------- */

.signup_Container .signup_Form_Container .signup_Form .disabled_OnSignin {
  padding: 20px 0 10px 0;
  text-align: center;
  opacity: 0.5;
  pointer-events: none;
}

.signup_Container
  .signup_Form_Container
  .signup_Form
  .disabled_OnSignin
  button {
  position: relative;
  border: none;
  background: #035b96;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.signup_Container .signup_Form_Container .signup_Form .login_Form_Btn {
  font-size: 13px;
}
